body{
  /* font-family: monospace; */
  font-family: 'Ricty Diminished', 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
  height:1080px;
  width:1920px;
  /* display: flex;
  flex-direction: column; */
  background-color:rgb(60, 60, 60);
}

div{
  border: solid 1px rgb(0, 255, 0);
  /* box-sizing: border-box; */
  /* text-align: center; */
  /* line-height: 100%; */
  /* font-size: 60px; */
}

.all{
  display:grid;
  /* 縦13分割 */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* 横16分割 */
  grid-template-columns: 
                      1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* 縦13分割 */
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* 横16分割 */
  -ms-grid-columns: 
                 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "titl titl titl titl titl titl titl titl titl titl titl titl titl time time time"
      "uplf uplf upc1 upc1 upc1 upc1 upc1 upc1 upc1 upc1 upc1 upc1 upc1 upc1 uprg uprg"
      "uplf uplf upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 uprg uprg"
      "uplf uplf upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 uprg uprg"
      "uplf uplf upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 uprg uprg"
      "uplf uplf upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 uprg uprg"
      "uplf uplf upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 upc2 uprg uprg"
      "lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer"
      "lwer lwer itn1 itn1 itn1 itn2 itn2 itn2 itn3 itn3 itn3 itn4 itn4 itn4 lwer lwer"
      "lwer lwer itx1 itx1 itx1 itx2 itx2 itx2 itx3 itx3 itx3 itx4 itx4 itx4 lwer lwer"
      "lwer lwer ite1 ite1 ite1 ite2 ite2 ite2 ite3 ite3 ite3 ite4 ite4 ite4 lwer lwer"
      "lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer lwer"
      "lwen lwen lwen lwen lwen lwen lwen lwen lwen lwen lwen lwen lwen lwen lwen lwen";
}

/* .all-head{
} */

.title{
  grid-area:titl;
  /* text-align: center; */
  /* grid-row: 1 / 2;
  grid-column: 1 / 13; */
}
.time{
  grid-area:time;
  /* grid-row: 1 / 2;
  grid-column: 13 / 16; */
}

/* .upper{
} */

/* .up-left{
} */

.up-left{
  grid-area:uplf;
  /* height:2px; */
  border: solid 1px rgb(255, 0, 0);
  background-color: darkseagreen;
}
.up-right{
  grid-area:uprg;
  /* height:2px; */
  border: solid 1px rgb(255, 0, 0);
  background-color: darkseagreen;
}

/* .up-center{
} */

.up-c-1{
  grid-area:upc1;
  /* grid-row: 1 / 2;
  grid-column: 1 / 13; */
}

.up-c-2{
  grid-area:upc2;
  /* grid-row: 1 / 2;
  grid-column: 1 / 13; */
}

.lower{
  grid-area:lwer;
}

.lw-itm-1-name{
  grid-area:itn1;
}
.lw-itm-1-tex{
  grid-area:itx1;
}
.lw-itm-1-elem{
  grid-area:ite1;
}

.lw-itm-2-name{
  grid-area:itn2;
}
.lw-itm-2-tex{
  grid-area:itx2;
}
.lw-itm-2-elem{
  grid-area:ite2;
}

.lw-itm-3-name{
  grid-area:itn3;
}
.lw-itm-3-tex{
  grid-area:itx3;
}
.lw-itm-3-elem{
  grid-area:ite3;
}

.lw-itm-4-name{
  grid-area:itn4;
}
.lw-itm-4-tex{
  grid-area:itx4;
}
.lw-itm-4-elem{
  grid-area:ite4;
}
.lowerend{
  grid-area:lwen;
}