html{
  zoom: 100%;
  max-height:1080px;
  max-width:1920px;
}

body{
  font-family: 'Ricty Diminished', 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
  max-height:1080px;
  height:100vh;
  max-width:1920px;
  width:100%;
  background-color:rgb(35, 35, 35);
  color: rgb(128, 128, 128);
  border: solid 0px rgb(0, 0, 0); 
  margin-left:0px;
  margin-right:0px;
  margin-top: 0px;
  margin-bottom:0px;
}

.all{
  text-align: center;
  font-size:40px;
  max-height:1080px;
  height:100vh;
  background-color:rgb(35, 35, 35);
}

.all-head{
  display:flex;
  max-height:80px;
}

.title{
  flex:left;
  text-align: center;
  font-size:35px;
  padding-left: 280px;
  width:80%;
  background-color:rgb(20, 20, 20);
}
#time{
  flex:none;
  width: 15%;
  background-color:rgb(20, 20, 20);
}

.upper{
  background-color:rgb(35, 35, 35);
  display:flex;
}

.up-left, .up-right{
  flex:2;
  flex-basis:10%;
}
.leftbar, .rightbar{
  height:11.5px;
  background-color:rgb(255, 0, 0);
}


.up-center{
  flex:1;
  flex-basis:80%;
  background-color:rgb(60, 60, 60);
}

.up-c-1{
  background-color:rgb(32, 17, 91);
}

#up-c-2{
  z-index: 1;
  height:400px;
  padding-top:0px;
  margin-bottom:-130px;
  font-size:420px;
  text-align: right;
  padding-right:120px;
  padding-left:120px;
  color:rgb(220,220,240);
  position: relative;
  top:0px;
}
.up-c-3{
  text-align: right;
  font-size:80px;
  padding-right: 0px;
  position: relative;
  top:30px;
  color:rgb(220,220,240);
}


.lower{
  height:420px;
  flex-basis:80%;
  justify-content: center;
  flex-wrap:wrap;
  margin-left:10%;
  margin-right:10%;
  margin-top: 75px;
  margin-bottom:50px;
  letter-spacing: -.4em; /*文字間を詰めて隙間をなくす*/
}
.lw-itm-1,.lw-itm-2,.lw-itm-3,.lw-itm-4{
  width:24.48%;
  height:420px;
  display:inline-block;
  letter-spacing: normal;
  background-color:rgb(60, 60, 60);
}

.lw-itm-name{
  background-color:rgb(32, 17, 91);
}
.lw-itm-tex{
  text-align: left;
  padding-top:30px;
  padding-left: 30px;
}
.lw-itm-unit{
  text-align: right;
  padding-right: 20px;
}

#lw-itm-1-elem,#lw-itm-2-elem,#lw-itm-3-elem,#lw-itm-4-elem{
  padding-top:50px;
  margin-right:50px;
  font-size:120px;
  text-align: right;
}

#lw-itm-1-elem{
  color:rgb(220,220,240);
}

.fadeout {
  animation : fadeOut 0.4s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadein {
  animation : fadeIn 0.4s;
  animation-fill-mode: both;
  color: rgb(35, 35, 35);
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#hiddenroom{
  position: absolute;
  z-index: 2;
  text-align: right;
  font-size: 50px;
  background-color:rgba(255, 255, 255,0);
  opacity:0.0;/*透明*/
}

#hiddenstopper{
  position: absolute;
  bottom:10px;
  right:10px;
  opacity:0.0;
}