
/* 定数定義 */
:root{
  --display-area-width:150;
  --skydrive-color:#0e1b9e;
}

body {
  width: 1920px;
  height: 1200px;
}
#sensors-name{
  font-size: 20px;
  border: solid 1px gray;
}

#DateDisp{
  margin-top:3px;
  font-family:sans-serif;
  color:#35b8ad;
  /* timemain:'#35b8ad', */
  /* timedash:'#0c3834' */
}

.Area1,
.Area2 {
  border: solid 1px gray;
  box-sizing: border-box;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}

.Area2 {
  text-align: top;
  border: solid 1px gray;
  /* border: solid 5px rgb(53, 51, 51); */
}

#DisplayAreaAll {
  float: left;
  width: 1920px;
  height: 1200px;
  border: solid 5px yellowgreen;
  color: #b0b0b0;
  background-color: #312f2f;
}

#title,
#DisplayArea1,
#DisplayArea2 {
  border: solid 1px gray;
  font-size: 15px;
  float: left;
  height:1175px;
}

#DisplayArea1 {
  width: 60%;
  /* border:solid 1px red; */
}

.Area1-1 {
  border: none;
}

.Aera1-1:after {
  content: "";
  display: block;
  clear: both;
}

#CentralDisplayArea,
#BatteryArea {
  margin-bottom: 20px;
  background-color: #222020;
  font-size: 20px;
  float: left;
  width: 50%;
  height: 330px;
}
#CentralDisplayArea{
  text-align: center;
}

#BatteryArea:after {
  content: "";
  display: block;
  clear: both;
}

#PropellerRpm {
  content: "";
  display: block;
  clear: both;
}

#PropellerRpm,
#VoltageMeter {
  background-color: #222020;
  font-size: 20px;
  height:390px;
}


#DisplayArea2 {
  width: 40%;
}
.Area2{
  margin-bottom: 20px;
}

#Altimeter{
  background-color: #222020;
}
#CurrentGraph{
  background-color: #222020;
}
#VoltageGraph{
  background-color: #222020;
}

table#BatTempTable{
  color: #b0b0b0;
  width: var(--display-area-width);
  vertical-align:center;
}

table#VolTable{
  color: #b0b0b0;
  width: var(--display-area-width);
  vertical-align:center;
}

table#RpmTable{
  color: #b0b0b0;
  width: var(--display-area-width);
  vertical-align:center;
}

tr.data td{
  vertical-align:center;
}